{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      <div class="table-responsive mx-auto">
        <table class="table">
          <tbody>
            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
            </tr>
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
{% endblock %}
